<!--
  REUSANDO COMPONENTES COM INPUT PROPERTY
-->
<app-cursos [nome] = "nomeCurso"></app-cursos>

<!--
  Estudo sobre Two-Way Data Binding
-->
<app-tow-way-binding></app-tow-way-binding>
<section class="two-way-binding">
  <h1>Two Way Data Binding</h1>
  <article>
    <div>
      <!--
        Exemplo 01: Não é two-way data binding. É um property binding
        O property binding lembra muito o conceito unidirecional do relacionamento
        de entidades. - [value]="nome" -> html - Variável nome segue o sentido
        do componente para o view do html.
      -->
      <input type="text" [value]="nome"/>
      <p>Meu nome1: {{ nome }}</p>

      <!--
        Exemplo 02: Não é ainda Two-Way Data Binding. Mas é parecido.
       -->
      <input type="text" [value]="nome" (input)="inputNome.value" #inputNome/>
      <p>Meu nome2: {{ inputNome.value }}</p>

      <!--
        Exemplo 03: Two Way Data Binding. Esse exemplo se asemelha ao conceito
        bidirecional. html-view <-> compomente
      -->
      <input type="text" [(ngModel)]="nome1">
      <p>Meu nome3: {{ nome1 }}</p>

    </div>
  </article>
</section>
<!--
  Estudando Event binding
-->
<article>
  <div>
    <!--Exemplo 01-->
    <button class="btn btn-primary" (click)="clickAlert()">
      Me Clica - 01
    </button>
    <input type="text" (keyup)="onKeyUp1($event)">
    <p>Saída do input1: {{ inputText }}</p>
    <br>
    <!--Exemplo 02-->
    <button class="btn btn-primary" (click)="clickAlert()">
      Me Clica - 02
    </button>
    <input type="text"
    (keyup)="onKeyUp2(getInput.value)" #getInput>
    <!--getInput.value: O 'value' vem do evento html $event.target.value. -->
    <p>Saída do input2: {{ salvaValor }}</p>
    <br>
    <span (mouseover)="onMouseOver()"
          (mouseout)="onMouseOver()" [class.highlight] = "isMouseOver">
      Passe o mouse em mim
    </span>
  </div>
</article>

<!--</Jeff>-->
<!--CLASS E STYLE BINDING: TRÊS MANEIRAS DIFERENTES DE FAZER O PROPERTY BINDING-->
<article>
  <h2>Class e Style Binding</h2>
  <select #classes (change)="0">
    <option value="alert-success">Sucesso</option>
    <option value="alert-info">Informação</option>
    <option value="alert-warning">Alerta</option>
    <option value="alert-danger">Erro</option>
    <br />
    <br />
    <br />
  </select>
  <!--
    PRIMEIRA MANAIRA:01
    Class Binding usando interpolação
  -->
  <div class="alert {{classes.value}}">Mudar cor do texto conforme a opção</div>

  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-success]="classes.value == 'alert-success'">
    Sucesso!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-info]="classes.value == 'alert-info'">
    Informação!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-warning]="classes.value == 'alert-warning'">
    Alerta!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-danger]="classes.value == 'alert-danger'">
    Erro!
  </div>
  <!--
    TERCEIRA MANAIRA:03
    PROPERTY BINDING ESTILO DE CLASS
    style binding
  -->
  <div class="alert alert-danger" role="alert" [style.display]="classes.value == 'alert-danger' ? 'block' : 'none'">
    <p>Mensagem de error</p>
  </div>

</article>
<!--</Jeff>-->
<h1>Meu primeiro Projeto com Angular 2</h1>
<app-meu-primeiro-componente></app-meu-primeiro-componente>
<app-meu-primeiro2></app-meu-primeiro2>
<app-data-binding></app-data-binding>
