<!--</Jeff>-->
<!--CLASS E STYLE BINDING: TRÊS MANEIRAS DIFERENTES DE FAZER O PROPERTY BINDING-->
<article>
  <h2>Class e Style Binding</h2>
  <select #classes (change)="0">
    <option value="alert-success">Sucesso</option>
    <option value="alert-info">Informação</option>
    <option value="alert-warning">Alerta</option>
    <option value="alert-danger">Erro</option>
    <br />
    <br />
    <br />
  </select>
  <!--
    PRIMEIRA MANAIRA:01
    Class Binding usando interpolação
  -->
 <div class="alert {{classes.value}}">Mudar cor do texto conforme a opção</div>
  <div class="alert" role="alert" [class.alert-success]="classes.value == 'alert-success'">
    Sucesso!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-info]="classes.value == 'alert-info'">
    Informação!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-warning]="classes.value == 'alert-warning'">
    Alerta!
  </div>
  <!--
    SEGUNDA MANAIRA:02
    Class Binding usando CLASS
  -->
  <div class="alert" role="alert" [class.alert-danger]="classes.value == 'alert-danger'">
    Erro!
  </div>
  <!--
    TERCEIRA MANAIRA:03
    PROPERTY BINDING ESTILO DE CLASS
    style binding
  -->
  <div class="alert alert-danger" role="alert"
   [style.display]="classes.value == 'alert-danger' ? 'block' : 'none'">
   <p>Mensagem de error</p>
  </div>

</article>
<!--</Jeff>-->
<h1>Meu primeiro Projeto com Angular 2</h1>
<app-meu-primeiro-componente></app-meu-primeiro-componente>
<app-meu-primeiro2></app-meu-primeiro2>
<app-cursos></app-cursos>
<app-data-binding></app-data-binding>
